/node_modules
/tmp
/log
/*.tar.gz
bits
build
describe
docs/*.json
docs/*.html
cscope.in.out
cscope.po.out
cscope.out
/smf/manifests/*.xml
/src/nomknod/*.so
*.vim
cn-agent-*.tgz
cn-agent-*.manifest
.*.swp
cscope.*
